/*

    //  //// --|    Grid & Layouts

*/




//  ////  --|    GRID MIXIN

$columns: 12;

@mixin col( $value, $include: true ) {

    $value: $columns / $value;

    width: percentage( 1 / $value ) - 1; // Add gutter here if margin is used

    //	Avoid repetition if element has multiple column sizes
    @if ( $include ) {
	    margin-right: 1%;
    }
}



@mixin grid( $gap: 1rem ) {

	display: grid;
	grid-gap: $gap;
}


@mixin cols( $cols ) {
	grid-template-columns: $cols;
}


@mixin rows( $rows ) {
	grid-template-rows: $rows;
}

