/*

    //  //// --|    Settings

*/




//  ////  --|    Breakpoints


$breakpoints: ( 
	s: 		450px,
	m: 		768px,
	l: 		1024px,
	xl: 	1600px,
	max: 	1920px
);




//  ////  --|    CONTAINER


$container-width: 124;





//  ////  --|    TYPOGRAPHY


@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');


$base-font-size: 	1.8; // Unit as rem
$base-line-height:	1.6;

$base-font-family: 		'Nunito', sans-serif;
$heading-font-family: 	'Nunito', sans-serif;

$baseline: 			( ( $base-font-size * 10 ) * $base-line-height );

$max-line-width: $base-font-size * 38;




//  ////  --|    COLORS


//  Lights
$white:     #FAFAFA;
$l-grey:	darken( $white, 5% );

//  Darks
$black:     #080808;
$d-grey:	lighten( $black, 10% );

// Primary
$primary:   #E44BB0;

// Secondary
$secondary: #444BB0;

// Additional
$blend:		mix( $primary, $secondary );

// Utilities
$blue:   	#163F6C;
$green:		#04BF2F;
$red:		#E30617;




//  ////  --|    Z-INDEX CATELOGUE


//  TOP LEVEL
$z-header:      80;
$z-main:	    60;
$z-footer:      40;


//  HEADER LEVEL
$z-nav:         10;
$z-hamburger:   20;


//  MAIN LEVEL
$z-sample:      10;


//  FOOTER LEVEL
$z-sample:      10;




//  ////  --|    MISC


//  Base Hover Timing
$duration: 300ms;

