/*

    //  //// --|    Components / Accordion

*/


.shiftr-accordion {

    --vertical-padding: 10px;

    .accordion--item {
        margin-bottom: 20px;
        position: relative;

        border-radius: var( --border-radius );

        @include last-child;

        .accordion--tab {
            padding: 20px calc( ( var( --vertical-padding ) * 2 ) + 30px ) 20px var( --vertical-padding );
            position: relative;
            cursor: pointer;

            @include before {
                width: 30px;
                height: 30px;
                position: absolute;
                top: 50%;
                right: var( --vertical-padding );
                transform: translateY( -50% ) rotateZ( 90deg ) rotateY( 0deg );

                background: url( ../icons/chevron.svg ) no-repeat;
                background-size: 10px auto;
                background-position: 50% 50%;

                transition: 300ms;
            }

            @include after {
                width: calc( 100% - ( var( --vertical-padding ) * 2 ) );
                height: .10px;
                left: var( --vertical-padding );
                bottom: 0;

                transition: 400ms;

                opacity: 0;
                background-color: $primary;
            }
        }

        .accordion--panel {
            padding: 20px var( --vertical-padding );
            position: relative;
            
            & > *:last-child {
                margin-bottom: 0;
            }
        }

        transition: 400ms;

        $box-shadow: 0 0 10px rgba( $d-grey, .1 ),
                     0 0 30px rgba( $d-grey, .05 );

        &:hover {
            box-shadow: $box-shadow;
        }
        
        &.is-expanded {

            box-shadow: $box-shadow;

            .accordion--tab {

                @include before( false ) {
                    transform: translateY( -50% ) rotateZ( 90deg ) rotateY( 180deg );
                }

                @include after( false ) {
                    opacity: 1;
                }
            }
        }
    }

    @include x( s ) {
        
        --vertical-padding: 20px;
    }
    
}

