/*

    //  //// --|    Components / Form

*/


.shiftr-form {
    margin: 0 auto;
    position: relative;

    .field {
        margin-bottom: 10px;
        display: block;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

