/*

    //  //// --|    Form Submission Styles

*/


//  Initiation
@import '../base/variables';
@import '../base/functions';
@import '../base/mixins';


.shiftr-form {

    .field {

        span.validation {
            padding: 6px 14px 6px 10px;
            position: absolute;
            right: 14px;
            top: 50%;
            transform: translateY( -50% ) scale( 0 );
            transform-origin: 100% 50%;
            opacity: 0;

            color: var(--c-black);
            background-color: var(--c-white);
            border-radius: var(--border-radius);
            box-shadow: 0 10px 10px rgba( $d-grey, .1 ),
                        0 20px 20px rgba( $d-grey, .1 );
            font-size: .875rem;
            line-height: 1;
            z-index: 100;

            @include before {
                width: 8px;
                height: 8px;
                top: 50%;
                right: -4px;
                transform: translateY( -50% );

                background-color: var(--c-red);
                border-radius: 5px;
            }

            transition: 200ms ease-in-out;

            &.pop {
                transform: translateY( -50% ) scale( 1 );
                opacity: 1;
            }
        }

        &.field-type-checkbox {

            span.validation {
                padding: 6px 10px 10px;
                top: -5px;
                left: 0;
                right: auto;

                transform: translateY( -100% ) scale( 0 );
                transform-origin: 50% 100%;

                @include before( false ) {
                    top: auto;
                    right: 50%;
                    bottom: 0;
                    transform: translate( 50%, 50% );
                }

                &.pop {
                    transform: translateY( -100% ) scale( 1 );
                    opacity: 1;
                }
            }
        }
    }

    .form-submission {
        width: calc( 100vw - 20px );
        max-width: 400px;
        padding: 10px;
        display: flex;
        align-items: center;
        position: fixed;
        left: 10px;
        bottom: 10px;
        z-index: 9999;

        background-color: var(--c-white);
        color: var(--c-black);
        border-radius: var(--border-radius);
        box-shadow: 0 0 10px rgba( $d-grey, .1 ),
                    0 10px 20px rgba( $d-grey, .1 ),
                    0 20px 40px rgba( $d-grey, .1 );
        opacity: 0;
        transform: translateY( 40px ) scale( .8 );

        transition: 200ms cubic-bezier( .2, .7, .5, 1.2 );

        &.show {
            opacity: 1;
            transform: translateY( 0 ) scale( 1 );
        }

        span {

            &:first-of-type {
                margin-bottom: 10px;
                display: block;

                font-size: 1.375rem;
            }

            &:last-of-type {
                font-size: .875rem;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        button {
            margin: 0;
            align-self: flex-end;
        }

        @include min-width( m ) {
            left: 50%;
            bottom: 50%;

            transform: translate( -50%, calc( -50% + 40px ) ) scale( .8 );

            &.show {
                transform: translate( -50%, -50% ) scale( 1 );
            }
        }

        @include min-width( l ) {
            position: absolute;
            left: 50%;
            bottom: 50%;

            transform: translate( -50%, 50% ) scale( .8 );

            &.show {
                transform: translate( -50%, 50% ) scale( 1 );
            }
        }
    }
}

