/*

    //  //// --|    Form Submission Styles

*/


//  Initiation
@import '../base/variables';
@import '../base/functions';
@import '../base/mixins';


.shiftr-form {

    &.with-labels {
        .field-type--input,
        .field-type--textarea,
        .field-type--select {
            span.validation {
                top: 1.875rem;
            }
        }
    }

    span.validation {
        padding: 6px 12px;
        padding-right: 26px;
        position: absolute;
        z-index: 100;

        opacity: 0;
        color: var(--c-black);
        background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23ff0000'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 11c-.55 0-1-.45-1-1V8c0-.55.45-1 1-1s1 .45 1 1v4c0 .55-.45 1-1 1zm1 4h-2v-2h2v2z'/%3E%3C/svg%3E");
        background-size: 18px auto;
        background-position: right center;
        background-repeat: no-repeat;
        font-size: .875rem;
        line-height: 1;

        transition: 200ms ease-in-out;

        &.is-visible {
            opacity: 1;
        }
    }

    .field-type--input,
    .field-type--textarea,
    .field-type--select {
        span.validation {
            right: 8px;
            top: 6px;
        }
    }

    .field-type--checkbox {

        span.validation {
            padding-right: 34px;
            top: -5px;
            left: 0;
            right: auto;

            background-color: var(--c-white);
            background-position: right 8px center;
            border-radius: var(--border-radius);

            transform: translateY( -100% ) scale( 0 );

            &.is-visible {
                transform: translateY( -100% ) scale( 1 );
                opacity: 1;
            }
        }
    }

    .form-submit-output {
        margin-left: 10px;
        display: none;

        &.is-visible {
            display: inline-block;
        }

        p {
            padding-left: 34px;

            background-size: 24px auto;
            background-repeat: no-repeat;
            background-position: left center;
        }

        p.success {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM9.29 16.29L5.7 12.7c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0L10 14.17l6.88-6.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-7.59 7.59c-.38.39-1.02.39-1.41 0z'/%3E%3C/svg%3E");
        }

        p.error {
            background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 11c-.55 0-1-.45-1-1V8c0-.55.45-1 1-1s1 .45 1 1v4c0 .55-.45 1-1 1zm1 4h-2v-2h2v2z'/%3E%3C/svg%3E");
        }
    }
}
