/*

    //  //// --|    Accessibility

*/


// Prevent animations and transitions for users who preferred reduced motion
@media screen and ( prefers-reduced-motion: reduce ), ( update: slow ) {

    * {
        animation-duration: 0ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0ms !important;
    }
}
                    

