/*

    //  //// --|    LOGIN.SCSS

*/


//  Normalize
@import '_init/normalize/normalize';


//  Initiation
@import '_init/settings';
@import '_init/placeholders';
@import '_init/functions';
@import '_init/mixins';
@import '_init/grid';


//  Core Page Layout
@import 'blueprint/core';


//  Foundation
@import 'foundation/typography';


.login {
    background: linear-gradient( 0deg, $l-grey 0%, $white 100% );

    a {
        &.privacy-policy-link {
            color: #0073aa;
        }

        @include after( false ) {
            display: none;
        }
    }


    form {
        border: none;
        border-radius: .8rem;
        box-shadow: 0 0 1rem rgba( $d-grey, .2 ),
                    0 1rem 3rem rgba( $d-grey, .2 );
    }

    #login_error,
    .message,
    .success {
        border-left: none;
        border: .1rem solid $blue;
        border-radius: .8rem;
        font-size: 1.6rem;
    }

    #login_error {
        border-color: $red;
    }
}

