/*

    //  //// --|    main.scss

*/


//  Normalize
@import 'base/normalize/normalize';


//  Base
@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';


//  Foundation
@import 'foundation/typography';
@import 'foundation/buttons';
@import 'foundation/lists';
@import 'foundation/inputs';
@import 'foundation/specials';
@import 'foundation/table';


//  Core Page Layout
@import 'layout/core';
@import 'layout/header';
@import 'layout/footer';


//  Components
@import 'components/nav';
@import 'components/mobile-menu';
@import 'components/hero';
@import 'components/form';
@import 'components/accordion';
@import 'components/carousel';
@import 'components/pagination';
@import 'components/cookie-notice';
@import 'components/announcement-bar';
@import 'components/social-links';


//  Blocks
@import 'blocks/content-image';
@import 'blocks/cta-banner-small';
@import 'blocks/featured-posts';
@import 'blocks/google-maps';
@import 'blocks/contact';
@import 'blocks/columns';


//  Templates
@import 'templates/post-archive';
@import 'templates/post-single';


//  Misc
@import 'misc/wp-core';
@import 'misc/accessibility';


//  Dev tools
@import 'misc/fixer';
@import 'misc/dev';

