/*

    //  //// --|    Blueprint / Core

*/


//  --|    Custom resets

* { box-sizing: border-box }

img, video { 
    max-width: 100%; 
    height: auto; 
    display: block; 
}


//  --|    Selection

*::selection {
    color: $white;
    background-color: $secondary;
    text-shadow: none;
}


//  --|    Body core styling

body {
    --header-height: #{$default-header-height};

    width: 100%;
    max-width: 100%;
    position: relative;
    overflow-x: hidden;

    background-color: $white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // Prevent scroll when header is open
    &.no-scroll {
        overflow-y: hidden;
    }

    @include x( $header-breakpoint ) {
        --header-height: 6rem;
    }
}


//  --|    Main core styling

main.site-main {
    padding-top: 10rem;
    position: relative;
}


//  --|    Main layout container

.site-padding {
    padding-left: $site-padding;
    padding-right: $site-padding;

    @include x( m ) {
        padding-left: $site-padding * 2;
        padding-right: $site-padding * 2;
    }
}

.container {
    width: 100%;
    max-width: rem( $container-width );
    margin: 0 auto;
    position: relative;
}

.contain-line-width {
    max-width: line_width();
}


.content,
.block-heading,
.block-after {
    max-width: line_width();
    margin: auto;

    & > *:first-child {
        margin-top: 0;
    }

    & > *:last-child:not(.content-button-wrapper) {
        margin-bottom: 0;
    }

    h1 {
        margin-bottom: get_baseline();
    }

    h2 {
        margin-top: get_baseline( 2 );
        margin-bottom: get_baseline( .5 );
    }

    h3 {
        margin-bottom: get_baseline( .25 );
    }

    ul, ol {
        margin-bottom: get_baseline();
    }

    img {
        &.alignnone {
            margin: 0 auto get_baseline();
        }
    }
}

.block-heading,
.block-after {

    * {
        margin-left: auto;
        margin-right: auto;
    }
}

.block-heading {
    margin-bottom: get_baseline();
}

.block-after {
    margin-top: get_baseline();
}


//  --|    Section core styling

section {

    $vertical-padding: 10rem;

    &.site-section {
        @extend .site-padding;
        
        scroll-margin-top: var( --header-height );
        margin-bottom: $vertical-padding;

        &:first-of-type {
            &.background-black,
            &.background-grey {
                margin-top: -10rem;
            }
        }
    }

    // Sections with darken background
    &.background-black {
        padding-top: $vertical-padding;
        padding-bottom: $vertical-padding;

        background-color: $black;
        color: $white;
    }

    &.background-grey {
        padding-top: $vertical-padding;
        padding-bottom: $vertical-padding;

        background-color: $l-grey;
    }

    &.background-grey,
    &.background-black {

        & + .background-grey,
        & + .background-black {
            margin-top: -10rem;
        }
    }

    &.background-black {
        color: $white;

        h1, h2, h3, h4, h5, h6 {
            color: inherit;
        }

        & + .background-black {
            padding-top: 0;
        }
    }

    &.background-grey {
        & + .background-grey {
            padding-top: 0;
        }
    }
}   

