/*

    //  //// --|    Templates / Post Archive

*/
.hero--basic {
    margin-bottom: 80px;
    padding-top: 40px;

    header {
        max-width: 900px;

        text-align: center;

        h1 {
            text-align: inherit;
        }
    }
}

section.posts-loop {
    padding-bottom: 50px;
}

.search-result-count {
    margin-top: 20px;
    display: inline-block;
}

ul.loop {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.loop.posts {

    li.post {
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        a {
            width: 100%;
            height: 100%;
            display: inline-block;

            &:hover {
                img {
                    transform: scale(1.05);
                }

                h3 {
                    text-decoration: underline;
                }
            }
        }

        .post-thumbnail {
            width: 100%;
            margin-bottom: 10px;
            @include ratio( 5, 3 );
            position: relative;
            overflow: hidden;

            border-radius: var(--border-radius);
            background-color: var(--c-l-grey);

            img {
                @include object-fit;

                transition: 300ms;
            }
        }

        h3 {
            font-size: _clamp( 1.25rem, calc( 2vw + 5px ), 1.5rem );
        }

        time {
            color: var(--c-d-grey);
            font-size: .875rem;
        }
    }

    @include min-width( 650 ) {
        --grid-columns: 2;

        display: grid;
        grid-gap: var(--site-gutter);
        grid-template-columns: repeat( var(--grid-columns), minmax( 10px, 1fr ) );

        li.post {
            &:not(:last-child) {
                margin-bottom: 0;
            }
        }
    }

    @include min-width( l ) {
        --grid-columns: 3;
    }
}
