/*

    //  //// --|    Templates / Post Single

*/
body.single-post {

    main.site-main {
        padding-top: 60px;

        @include min-width( m ) {
            padding-top: 80px;
        }
    }
}

.hero--post_single {
    margin-bottom: get_baseline( 2 );

    .post-featured-image {
        width: 100%;
        margin-bottom: get_baseline();
        position: relative;

        @include min-width( m ) {
            padding-top: 33%;
            overflow: hidden;

            border-radius: var(--border-radius);

            img {
                @include object-fit;
            }
        }
    }

    .post-header {
        padding: 0 var(--site-padding);

        & > div.container {
            max-width: line_width();
        }

        h1 {
            margin-bottom: get_baseline( .25 );
        }
    }
}
