/*

    //  //// --|    Templates / Post Single

*/
body.single-post {
    footer.site-footer {
        margin-top: 60px;
    }
}

.hero--post_single {
    margin-top: 40px;
    margin-bottom: get_baseline( 2 );

    .post-featured-image {
        width: 100%;
        margin-bottom: get_baseline();
        position: relative;

        @include min-width( m ) {
            padding-top: 33%;
            overflow: hidden;

            border-radius: var(--border-radius);

            img {
                @include object-fit;
            }
        }
    }

    .post-header {
        padding: 0 var(--site-padding);

        & > div.container {
            max-width: line_width();
        }

        h1 {
            margin-bottom: get_baseline( .25 );
        }
    }
}


.related-posts {
    
    div.container {
        margin-top: 100px;
        padding-top: 50px;

        border-top: 1px solid var(--c-d-grey);
    }

    h2 {
        margin-bottom: 30px;

        text-align: center;
    }
}
