/*

	//  //// --|    Core

*/




//  --|    RESETTERS

* { box-sizing: border-box }

img, video { 
	max-width: 100%; 
	height: auto; 
	display: block; 
}


//  --|    SELECTION

*::selection {
	color: $white;
	background-color: $secondary;
	text-shadow: none;
}


//  --|    BODY BASE STYLING

body {
	width: 100%;
	max-width: 100%;
	position: relative;
	overflow-x: hidden;

	background-color: $white;
}


//  --|    MAIN CONTENT CONTAINER

// This value sets the site global container width,
// affecting the header, main and footer content



%container {
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;

	& > div {
		max-width: rem( $container-width );
		margin: 0 auto;
	}
	
	@include x( m ) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}


main {
	min-height: calc( 100vh - 5rem );
	padding-top: 12rem;
	position: relative;

	background-color: $white;
}


section {
	
	// Sections contained to layout width
	&.contain {
		@extend %container;

		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	// Sections with no width restriction
	&.free {
		padding: 4rem 1rem;

		@include x( m ) {
			padding: 4rem 2rem;
		}
	}

	&.grey {
		background-color: $l-grey;
	}

	&.gradient {
		padding-top: 8rem;
		padding-bottom: 8rem;

		background: $blend;
		background: linear-gradient( 135deg, $primary 0%, $secondary 100% );

		color: $white;

		h2 {
			color: $white;
		}

	}
}	

