/*

    //  //// --|    Listed Items (Thumbnails, Products etc...)

*/




//  --|    BASE

.listed {
	list-style-type: none;

	padding: 0;


    @include x( m ) {
    	@include grid( 1rem );
    	grid-template:
    		"a  b" auto / 1fr 1fr;

    }
    
}

