/*

    //  //// --|    Init / Grid & Layouts

*/


@mixin grid( $gap: 10px ) {

    display: grid;
    grid-gap: $gap;
}


@mixin cols( $cols ) {
    grid-template-columns: $cols;
}


@mixin rows( $rows ) {
    grid-template-rows: $rows;
}

