/*

    //  //// --|    Init / Settings

*/


//  ////  --|    Breakpoints

$breakpoints: ( 
    s:      450px,
    m:      768px,
    l:      1024px,
    xl:     1600px,
    max:    1920px
);

// This is the breakpoint value at which the header state changes
// from mobile to desktop version.
$header-breakpoint: 768;
$default-header-height: 6rem;


//  ////  --|    Container

$container-width:   124;
$site-padding:      1rem;


//  ////  --|    Typography

$base-min-font-size:        1.6;
$base-max-font-size:        1.8;
$base-line-height:          1.75; // This should always be unitless

$base-font-family:          'Nunito', sans-serif;
$heading-font-family:       'Nunito', sans-serif;

$baseline:                  $base-max-font-size * $base-line-height;


//  ////  --|    Colors

//  Lights
$white:     #FAFAFA;
$l-grey:    darken( $white, 5% );

//  Darks
$black:     #080808;
$d-grey:    lighten( $black, 10% );

// Primary
$primary:   #E44BB0;

// Secondary
$secondary: #444BB0;

// Additional
$blend:     mix( $primary, $secondary );

// Utilities
$blue:      #42C2FF;
$green:     #04BF2F;
$red:       #E30617;

