

//	This file lists the usage of comments and various levels
//	of comments that can be used.




/*

	//  //// --|    LEVEL 1 HEADER / FILE HEADER

*/

//	Should only be used once per file, from line 1
//	0 line spaces before
//	4 line spaces after




//  ////  --|    LEVEL 2 HEADER

//	4 line spaces before
//	2 line spaces after




//  --|    LEVEL 3 HEADER

//	2 line spaces before
//	1 line space after




//  LEVEL 4 STANDARD COMMENT




//	Note: On standard comments, if comment is first/only content
//	on the line, then hit tab after the // for consitent spacing.

//	Otherwise if comment follows code on same line,
//	use single space before and after //

