/*

    //  //// --|    Page

*/




// A sample file, the home for styling that is specific to a single page

// For example, if there styling only used on /about

// Then create a file _about.scss in /pages

// Simples

