/*

    //  //// --|    Table

*/




table {
	width: 100%;
	margin-bottom: 2.4rem;

	line-height: $base-line-height;

	// Uses same styling as <h6>
	th {
		padding-bottom: 0rem;

		color: $black;
		font-size: 2rem;
		font-weight: 700;
		line-height: 1.5;
		text-align: left;
	}

	td {
		padding-top: 1.8rem;
		padding-bottom: 0.5rem;

		border-bottom: 0.1rem solid $black;

		font-size: 1.6rem;
		font-weight: 400;
		line-height: $base-line-height;
	}
}

